* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e6e9ef;
    border-top: solid 7px #0e406a;
}

.container {
    max-width: 1145px;
    padding: 0 21px;
    margin: 0 auto;
}